body {
    font: normal 20pt Arial;
    background-color: rgb(78, 207, 216);
}

header {
    color: white;
    text-align: center;
    margin: 20px;
}

header > h1 {
    font: 30pt;
}

section {
    background-color: white;
    border-radius: 15pt;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
    width: 550px;
    height: 400px;
    display: flex;
}

.menu {
    display: flex;
    margin: auto;
}

#s {
    border-radius: 30pt;
    background-color: #23f045;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 20px;
    padding-top: 25px;
}

#n {
    border-radius: 30pt;
    background-color: #f32d1f;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 20px;
    margin-left: 100px;
    padding-top: 25px;
}

#s:hover {
    box-shadow: 3px 3px 10px rgb(37, 180, 216);
}

#n:hover {
    box-shadow: 3px 3px 10px rgb(37, 180, 216);   
}

video {
    display: none;
}